*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: coral;
}

#box2{
    height: 200px;
    width: 200px;
    background-color:cornflowerblue;
}
#box3{
    height: 200px;
    width: 200px;
    background-color:rgb(18, 227, 254);
}


#box{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: coral;
    top: 10%;
}