* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: brown;
  border-radius: 50%;
  position: fixed;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9;
}
#image {
  height: 80vh;
  width: 100vh;
  
  position: relative;
}
#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color:transparent;
    position: absolute;
    z-index: 10;
    
}