* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 100px;
    color: brown;
    /* background-color: darkgoldenrod; */
    overflow: hidden;
}
h1 span{
    display: inline-block;
}