* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1762216443831-e2b039de23a8?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=600");
  background-size: cover;
  background-position: center;
}

#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}
#nav h2{
  font-size: 30px;

}

#nav i{
  font-size: 30px;
  font-weight: 800;
}

#full{
  position: absolute;
  height: 100%;
  width:25%;
  background-color: rgba(223, 216, 213, 0.453);
  top: 0;
  right: -25%;
  backdrop-filter: blur(10px);
  padding: 150px 60px;
}

#full h4{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

#full i{
  position: absolute;
  top: 5%;
  right: 10%;
  background-color:white;
  border-radius: 50%;
  padding: 10px;
  font-weight: 600;
  font-size: 25px;
}